

.Product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 500px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.795);
  background-color: rgba(113, 143, 160, 0.58);
  border-radius: 20px;
  .Favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .imageWrapper {
    width: 90%;
    margin-bottom: 10px;
    align-self: center;
    img {
      width: 100%;
    }
  }
  .ImgProduct{
    width: 250px;
  }
  button {
    margin-top: 10px;
  }
  
}
