
.Button{
    font-size: 16px;
    margin: 20px 0px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: black;
}

.Button:hover {
    cursor: pointer;
}


