
.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(63deg, rgba(164,185,212,1) 0%, rgba(0,0,0,1) 100%);
    & button{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        color: aliceblue;
        background-color: black;
    }
}

.Input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &:not(:first-of-type){
    margin-top: 15px;
  }
  & input {
    color: aliceblue;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(113, 143, 160, 0.58);
  }
}
label{
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.Error{
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: red;
}

