nav{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  background: linear-gradient(63deg, rgba(164,185,212,1) 0%, rgba(117,131,151,1) 24%, rgba(133,150,172,1) 41%, rgba(0,0,0,1) 90%);
  display: flex;
  justify-content: space-evenly;

}
  span{
    text-decoration: none;
    color: aqua;
  }

  .productCount {
    position: absolute;
  }


